## CUSTOM FUNCTIONS ##

compress() {
  local tmpFile="${1%/}.tar"
  tar -cvf "${tmpFile}" --exclude=".DS_Store" "${1}" || return 1

  cmd="gzip"

  echo "Compressing .tar using \`${cmd}\`…"
  "${cmd}" -v "${tmpFile}" || return 1
  [ -f "${tmpFile}" ] && rm "${tmpFile}"
  echo "${tmpFile}.gz created successfully."
}

compress-fat32(){
  zip -s 3g archive.zip "$1"
}

compress-passwd(){
  zip -er archive.zip "$1"
}

copy(){
  pbcopy < "$1"
}

disk(){
  df -P -kHl
}

extract(){
  tar xvf "$1"
}

ghost(){
  cat /dev/null > ~/.bash_history && history -c && exit
}

inspect(){
  dig +nocmd "$1" any +multiline +noall +answer && httpstat -L "$1"
}

local-ip(){
  ipconfig getifaddr en0
}

public-ip(){
  curl ident.me
}

search(){
  find /Users -name "$1" 2>&1 | grep -v 'Operation not permitted'
}

track(){
  tail -f "$1" | bat --paging=never -l log
}

transfer(){
  wget -t 1 -qO - --method=PUT --body-file="$1" --header="Content-Type: $(file -b --mime-type "$1")" https://transfer.sh/$(basename "$1");
  echo
}

alias list="ls -alh"
alias record="asciinema rec"

hilfe(){
  echo "|-----------------------------------------------------------------------------------------------|"
  echo "| command                                   | description                                       |"
  echo "|-------------------------------------------|---------------------------------------------------|"
  echo "| inspect URL                               | dig & httpstat with useful arguments              |"
  echo "| public-ip                                 | prints the public IP                              |"
  echo "| local-ip                                  | prints the local IP                               |"
  echo "| compress FILE_OR_FOLDER                   | compresses a file/folder                          |"
  echo "| compress-fat32 FILE_OR_FOLDER             | compresses a file/folder for fat32 (3G)           |"
  echo "| compress-passwd FILE_OR_FOLDER            | compresses a file/folder with password protection |"
  echo "| extract FILE_OR_FOLDER                    | extracts contents of an compressed file           |"
  echo "| copy FILE                                 | copies contents of a file to clipboard            |"
  echo "| bat FILE                                  | cat with wings                                    |"
  echo "| list                                      | ls with useful arguments                          |"
  echo "| disk                                      | df with useful arguments                          |"
  echo "| search FILE_NAME                          | find with useful arguments                        |"
  echo "| track FILE_NAME                           | tail -f with some bat power                       |"
  echo "| transfer FILE_NAME                        | uploads a given file via transfer.sh              |"
  echo "| record                                    | record with asciinema                             |"
  echo "| ghost                                     | deletes terminal history and closes terminal      |"
  echo "| tmate                                     | a named tmate session                             |"
  echo "|-----------------------------------------------------------------------------------------------|"

  echo

  echo "|----------------|------------------------|"
  echo "| alias          | description            |"
  echo "|----------------|------------------------|"
  echo "| g l            | git log                |"
  echo "| g s            | git status             |"
  echo "| g d            | git diff               |"
  echo "| g ds           | git diff --staged      |"
  echo "| g p            | git pull               |"
  echo "| g cl           | git clone URL          |"
  echo "| g go           | git checkout BRANCH    |"
  echo "| g a            | git add FILE           |"
  echo "| g c            | git commit             |"
  echo "| g ca           | git add and commit all |"
  echo "| g branches     | branch -a              |"
  echo "| g remotes      | remote -v              |"
  echo "| g amend        | commit --amend         |"
  echo "| g contributors | shortlog --numbered    |"
  echo "|-----------------------------------------|"

  echo

  echo "|---------|-------------------------------------------|"
  echo "| command | description                               |"
  echo "|---------|-------------------------------------------|"
  echo "| H       | move to top of screen                     |"
  echo "| M       | move to middle of screen                  |"
  echo "| L       | move to bottom of screen                  |"
  echo "| w       | jump forwards to the start of a word      |"
  echo "| e       | jump forwards to the end of a word        |"
  echo "| 0       | jump to the start of the line             |"
  echo "| $       | jump to the end of the line               |"
  echo "| gg      | go to the first line of the document      |"
  echo "| G       | go to the last line of the document       |"
  echo "| 5G      | go to line 5                              |"
  echo "| yy      | yank (copy) a line                        |"
  echo "| 2yy     | yank (copy) 2 lines                       |"
  echo "| yw      | yank (copy) word                          |"
  echo "| p       | put (paste) the clipboard after cursor    |"
  echo "| dd      | delete (cut) a line                       |"
  echo "| 2dd     | delete (cut) 2 lines                      |"
  echo "|-----------------------------------------------------|"

}
